*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* --------------------------------------------header----------------------------------------------------- */

#backgroundH {
    background-color: rgb(255, 255, 255);
}

#backgroundH > #logo {
    height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

#backgroundH > .title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
 }

 /* --------------------------------------------main----------------------------------------------------- */

 #backgroundM {
    background-color: rgb(224, 222, 222);
    padding-bottom: 10px;
    height: auto;
 }

 #backgroundM1 {
    margin: auto;
    width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
 }

 .BackBotton{
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 40px;
 }

 #backgroundM2 {
    margin: auto;
    padding-left: 40px;
    width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
 }

  #text {
    color: black;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }


  /* ----------------------css bottoni----------------------------- */

  .btn1 {
   width: 70px;
   height: 40px;
   border-radius: 8px;
   font-size: 15px;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   cursor: pointer;
   border: none;
   background: rgb(6, 148, 243);
   color: black;
}

.btn2 {
   width: 85px;
   height: 40px;
   font-size: 15px;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background: white;
   text-align: center;
   border-radius: 8px;
   cursor: pointer;
   border: none;
   color: black;
}

.btn1:active, .btn2:active {
   color: white;
 }

/*----------css liste--------------------- */

li {
   list-style-type:none;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
.Sp_button1 {
   background-color: rgb(10, 186, 245);
   border-radius: 12px;
   color: white;
   padding: 5px;

}

.Sp_button2 {
   background-color: chocolate;
   border-radius: 12px;
   color: white;
   padding: 5px;

}

.Sp_button3 {
   background-color: rgb(39, 121, 59);
   border-radius: 12px;
   color: white;
   padding: 5px;

}

.Sp_button4 {
   background-color: rgb(107, 12, 99);
   border-radius: 12px;
   color: white;
   padding: 5px;

}

.Sp_button5 {
   background-color: rgb(255, 0, 98);
   border-radius: 12px;
   color: white;
   padding: 5px;

}

  /*-----------------freccia scroll in basso--------------------*/
  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
/* ------------------------------------------ */


  /* Gestore spunta verde */
  .circle-checkmark {
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    color: green;
    padding: 1px 4px;
    border-radius: 50%;
    border-color: green;
    border-width: 1px;
    border-style: solid;
  }

/* Gestore spunta rossa */
  .circle-checkmark1 {
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    color: red;
    padding: 1px 4px;
    border-radius: 50%;
    border-color: red;
    border-width: 1px;
    border-style: solid;
  }
